<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>회원정보 수정</title>
</head>
<body>
<form th:action="@{/member/update}" method="post" th:object="${memberVO}">
    <input th:field="*{id}" th:value="${memberVO.id}" />
    <div>
        <span>이메일</span>
        <input th:field="*{memberEmail}" th:value="${memberVO.memberEmail}" placeholder="이메일 입력" />
    </div>
    <div>
        <span>비밀번호</span>
        <input th:field="*{memberPassword}" th:value="${memberVO.memberPassword}" placeholder="비밀번호 입력" />
    </div>
    <div>
        <span>이름</span>
        <input th:field="*{memberName}" th:value="${memberVO.memberName}" placeholder="이름 입력" />
    </div>
    <div>
        <span>주소</span>
        <input th:field="*{memberAddress}" th:value="${memberVO.memberAddress}" placeholder="주소 입력" />
    </div>
    <div>
        <span>번호</span>
        <input th:field="*{memberPhone}" th:value="${memberVO.memberPhone}" placeholder="전화번호 입력" />
    </div>
    <button type="button">회원가입</button>
</form>
</body>
</html>
<script th:inline="javascript">
    const inputs = document.querySelectorAll("input")
    const button = document.querySelector("button");
    const form = document.querySelector("form")

    button.addEventListener("click", () => {
        for(let input of inputs){
            if(!input.value) {
                alert(input.name + "값이 입력되지 않았습니다.")
                return;
            }
        }
        form.submit();
    })
</script>